@import "./styles/null.scss";
@import "./styles/iconfont.css";
@import "./styles/animation.scss";

.Container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;

  &__Osnova {
    margin: 0 auto;
    width: 95vw;
  }
}

.Header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
  margin-bottom: 20px;

  &__Logo {
    width: 20%;

    img {
      display: block;
      height: 70px;
    }
  }

  &__Input {
    width: 60%;
    display: flex;
    align-items: center;
    .Search {
      display: flex;
      align-items: center;
      border: 1px solid black;
      border-radius: 20px;
      height: 30px;
      width: 100%;
      padding: 0 0 0 10px;
      overflow: hidden;
      margin: 0px -3px;
      &__Button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 108%;
        color: white;
        background-color: black;
        padding: 0 10px;
      }

      input {
        width: 100%;
      }

      span {
        &::before {
          vertical-align: middle;
          font-family: "icons";
          content: "\e901";
        }
      }
    }
  }

  &__Info {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      li {
        display: inline-block;
        margin-left: 10px;

        a {
          &:hover {
            text-decoration: underline;
          }
          color: black;
        }
      }
    }
  }
}

.right {
  right: 0;
}
.left {
  left: 0;
}

.Text__error {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.Main {
  &__Arrow {
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    p {
      width: max-content;
      margin: 0 auto;
    }
    .text:hover {
      text-decoration: underline;
    }
    ._icon-spinner2 {
      animation: 1s linear 0s normal none infinite running loading;
      font-size: 40px;
    }
    .Arrow__Line {
      position: absolute;
      top: -1px;
      height: 10px;
      width: 40%;
      border-bottom: 1px solid black;
    }
  }
  .Books {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 5%;
    grid-row-gap: 60px;
    margin-bottom: 40px;
    overflow: hidden;
    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 45%);
      grid-column-gap: 5%;
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 100%);
      grid-column-gap: 0%;
    }

    &__Item {
      margin: 0 auto;
      cursor: pointer;
      &__img {
        img {
          height: 250px;
          display: block;
          margin: 0 auto;
        }
      }

      &__title {
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
      }
      &__publish {
        font-size: 13px;
        margin-bottom: 5px;
        font-style: italic;
      }
      &__author {
        font-size: 13px;
        font-style: italic;
      }
    }
  }
}

.Footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px;

  @media (max-width: 480px) {
    flex-direction: column;
  }

  &__Git {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    span {
      margin-bottom: 10px;

      &::before {
        font-size: 70px;
        font-family: "icons";
        content: "\e900";
      }
    }
    p {
      font-size: 20px;
      text-align: center;
    }
  }
  &__Api {
    width: 300px;
    @media (max-width: 480px) {
      width: 80%;
    }
    img {
      -webkit-filter: invert(100%);
    }
  }
}

.Popup {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  &__text {
    margin-left: 15px;
    width: max-content;
    max-width: 50%;

    @media (max-width: 800px) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__Content {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px;
    //min-width: 80%;
    margin: 0 auto;
    max-height: 90%;
    overflow: auto;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__exit {
    cursor: pointer;
    position: absolute;
    color: red;
    right: 5px;
    top: 5px;
  }
  &__Img {
    img {
      width: 100%;
      max-height: 500px;
      min-height: 100%;
      min-width: 200px;
    }
  }
  &__title {
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
  }
  &__author {
    margin-bottom: 15px;

    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  &__language {
    margin-bottom: 15px;

    p {
      display: inline-block;
      text-transform: uppercase;
    }
  }
  &__Publish {
    margin-bottom: 15px;
  }

  &__Isbn {
    margin-bottom: 15px;
  }

  &__Publisher {
    margin-bottom: 15px;
  }
}
